{{define "crear"}}
{{template "header"}}

<div class="card">
	<div class="card-header">
		Empleado
	</div>
	<div class="card-header">
		<form action="/insertar" method="post">
			<div class="form-group">
				<label for="">nombre</label>
				<input type="text" class="form-control" name="nombre" id="nombre" aria-describedby="helpId" placeholder="nombre">
				<small id="helpId" class="form-text text-muted">escribe tu nombre</small>
			</div>

			<div class="form-group">
				<label for="">Correo</label>
				<input type="email" class="form-control" name="correo" id="correo" aria-describedby="helpId" placeholder="ejemplo@gmail.com">
				<small id="helpId" class="form-text text-muted">escribe tu correo</small>
			</div>

			<button type="submit" class="btn btn-primary">agregar nuevo empleado</button>
		</form>
	</div>
</div>

{{template "footer"}}
{{end}}