{{define "editar"}}
{{template "header"}}

<div class="card">
	{{range.}}
	<div class="card-header">
		Editar
	</div>
	<div class="card-body">
		<form action="/actualizar" method="post">
			<div class="form-group">
				<label for=""> empleado N° </label>
				<input type="text" class="form-control" id="id" name="id" value="{{.Id}}" readonly>
			</div>
			<div class="form-group">
				<label for="">nombre</label>
				<input type="text" class="form-control" name="nombre" id="nombre" aria-describedby="helpId"
					value="{{.Nombre}}">
				<small id="helpId" class="form-text text-muted">escribe tu nombre</small>
			</div>
			<div class="form-group">
				<label for="">Correo</label>
				<input type="email" class="form-control" name="correo" id="correo" aria-describedby="helpId"
					value="{{.Correo}}">
				<small id="helpId" class="form-text text-muted">escribe tu correo</small>
			</div>

			<button type="submit" class="btn btn-primary">editar empleado</button>
			<a class="btn btn-danger" href="/" role="button">cancelar</a>
		</form>
	</div>
	{{end}}
</div>

{{template "footer"}}
{{end}}