{{define "index"}}

{{template "header"}}



<div class="container">

<a name="" id="" class="btn btn-primary" href="/crear" role="button">agregar empleado</a>

<table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {{ range. }}
            <tr>
                <td>{{.Id}}</td>
                <td>{{.Nombre}}</td>
                <td>{{.Correo}}</td>
                <td>
                    <a href="/editar?id={{.Id}}" class="btn btn-primary">editar</a>
                    <a href="/eliminar?id={{.Id}}" class="btn btn-danger">eliminar</a>
                </td>
            </tr>
        {{ end }}
        
    </tbody>
    </table>    

</div>

{{template "footer"}}
{{end}}